body{
    color: #40514E;
    background-color: #E4F9F5;
    text-align: center;
    font-family: 'Merriweather', serif;

}
h1{
    color: #66bfbf;
    font-size: 90px;
    line-height: 2;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;

}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;

}
h2{
   color:  #66bfbf;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}
p{
    line-height: 2;
}
hr{
    border: dotted #6b6f70 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #1e2424;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.box1{
    position: relative;
    padding-top: 100px;
}
.profile img{
    width: 200px;
    height: 200px;
    bottom: 20px;
    border-radius: 50%;
}
.top_cloud{
  position: absolute;
  right: 300px; 
  top: 40px;
  
}
.b_cloud{
    position: absolute;
    left: 250px;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code{
    float: left;
    margin-right: 30px;
}
.chilli{
    width: 23%;
    float: right;
    margin-right: 30px;
}
.middle-container{
    margin: 100px 0;
}
.contact-message{
    width: 40%;
    margin:40px auto 60px
}
.btn {
	-moz-box-shadow:inset     ;
	-webkit-box-shadow:inset     ;
	box-shadow:inset     ;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e) );
	background:-moz-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e');
	background-color:#11cdd4;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
    font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:40px;
	line-height:50px;
width:180px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2f6627;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11999e), color-stop(1, #11cdd4) );
	background:-moz-linear-gradient( center top, #11999e 5%, #11cdd4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#11cdd4');
	background-color:#11999e;
}.btn:active {
	position:relative;
	top:1px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.copyright{
    color: #EAF6F6;
}